.Logo {
    background-color: #baaaaa96;
    opacity: 0.9;
}

.animation {
    animation: rotateImage 5s linear infinite; /* Rotation continue pendant 10 secondes */
}

@keyframes rotateImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
body {
    background-image: url(/ImageResto/hemant-latawa-IfQlwNqJqV8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}